*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, black, purple, magenta, deeppink);
}

.calculatorGrid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculatorGrid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px #FFFFFF;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

.calculatorGrid > button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.fullColumn {
    grid-column: span 2;
    color: rgb(139, 0, 139);
    background-color: rgba(139, 0, 139, 0.8);
}

.fullColumn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

.display{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previousCalculation{
    color: rgba(255,255, 255, 0.75);
    font-size: 1.5rem;
}

.display .currentCalculation{
    color: white;
    font-size: 2.5rem;
}